In [1]:
import polars as pl
from my_demo.pool import DATABASE_URL

query = '''
    SELECT mc.primo_prprty primo_id, dc.source_key scada_id, REGEXP_SUBSTR(metric_nice_name, '(Oil|Water)') AS tank_type, CAST(REGEXP_SUBSTR(metric_nice_name, '[0-9]') AS INTEGER) AS tank_number, td.value level_in_inches, dc.uom uom
    FROM sdm_dba.data_catalog dc
    JOIN mrte_dba.mrte_completion mc ON CAST(mc.fac_primo_prprty AS varchar(64)) = dc.source_id 
    JOIN sdm_dba.timeseries_data td ON td.key_metric = dc.key_metric
    WHERE metric_nice_name LIKE '%Level%'
    '''

lf = pl.read_database_uri(query=query, uri=DATABASE_URL, engine="adbc").lazy()
lf.collect()

shape: (6_912, 6)
┌──────────┬──────────┬───────────┬─────────────┬─────────────────┬─────┐
│ primo_id ┆ scada_id ┆ tank_type ┆ tank_number ┆ level_in_inches ┆ uom │
│ ---      ┆ ---      ┆ ---       ┆ ---         ┆ ---             ┆ --- │
│ i32      ┆ str      ┆ str       ┆ i32         ┆ f64             ┆ str │
╞══════════╪══════════╪═══════════╪═════════════╪═════════════════╪═════╡
│ 69420    ┆ 6941901  ┆ Oil       ┆ 1           ┆ 62.159021       ┆ in  │
│ 69421    ┆ 6941901  ┆ Oil       ┆ 1           ┆ 62.159021       ┆ in  │
│ 69422    ┆ 6941901  ┆ Oil       ┆ 1           ┆ 62.159021       ┆ in  │
│ 69423    ┆ 6941901  ┆ Oil       ┆ 1           ┆ 62.159021       ┆ in  │
│ 69424    ┆ 6941901  ┆ Oil       ┆ 1           ┆ 62.159021       ┆ in  │
│ …        ┆ …        ┆ …         ┆ …           ┆ …               ┆ …   │
│ 98752    ┆ 98750W2  ┆ Water     ┆ 2           ┆ 2.006812        ┆ in  │
│ 98753    ┆ 98750W2  ┆ Water     ┆ 2           ┆ 2.006812        ┆ in  │
│ 98754    ┆ 98750W2  ┆ Water     ┆ 2           ┆ 2.006812        ┆ in  │
│ 98755    ┆ 98750W2  ┆ Water     ┆ 2           ┆ 2.006812        ┆ in  │
│ 98756    ┆ 98750W2  ┆ Water     ┆ 2           ┆ 2.006812        ┆ in  │
└──────────┴──────────┴───────────┴─────────────┴─────────────────┴─────┘